[submodule "references/JSON-Schema-Test-Suite"]
	path = references/JSON-Schema-Test-Suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "references/json_schemer"]
	path = references/json_schemer
	url = https://github.com/davishmcclurg/json_schemer.git
[submodule "references/json-schema"]
	path = references/json-schema
	url = https://github.com/voxpupuli/json-schema.git
